# Fleet config
.fleet/config.json

# Gradle project-specific cache directory
.gradle
.idea
.DS_Store

# Kotlin directory
.kotlin

# Gradle build output directory
build
config
system

fleetDistribution/
