name: Build

on:
  workflow_dispatch:
  push:
    paths:
      - "**gradle**"
    branches:
      - "main"
  pull_request:
    paths:
      - "**gradle**"

jobs:
  build:
    name: Build Plugin
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Build Plugin
        run: "./gradlew clean distZip"

      - name: Upload Zip
        uses: actions/upload-artifact@v6
        with:
          name: "Catppuccin Fleet Theme"
          path: catppuccin-theme/build/pluginDistribution/*.zip
